/* Card */
main.wrapper {
  margin: 10rem auto;
}

.card-container {
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 1rem;
  min-height: 30vh;
}

.card {
  width: 100%;
  border-radius: 8px;
  justify-content: space-between;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card .card-upper .card-title {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.card .card-text {
  padding: 1rem;
}

.card img {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.card .btnIcon {
  display: flex;
  gap: 1rem;
  color: var(--secondary-color-black);
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.card .btnIcon:hover {
  cursor: pointer;
}
