/* Testimonial Card */
section.wrapper {
  margin: 10rem auto;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.testimonial-card {
  padding: 2rem 1rem;
  max-width: 200px;
  border-radius: 4px;
  line-height: 1.5;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3);
}
.avatar {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
  background-color: #000;
  min-height: 50px;
  min-width: 50px;
  max-width: 50px;
  margin: 1rem 0;
}
